.wrapper {
  display: block;
  width: auto;
  height: auto;
  grid-area: stock;
  margin-bottom: 16px;
}

.card {
  margin: -89px 4px 0;
}

.card:first-of-type {
  margin-top: 0;
}

.emptyPile {
  margin: 0 4px;
  display: flex;
  width: 64px;
  height: 89px;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  color: lightgray;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
}
