.container {
  display: block;
  min-width: 96px;
  position: relative;
  flex: 0 1 auto;
  height: auto;
  margin: 4px;
}

.dropArea {
  position: relative;
  width: 96px;
  height: 136px;
  bottom: 104px;
  pointer-events: none;
}

.isEmpty {
  bottom: 0;
}

.overlappedCard {
  max-height: 32px;
}

.flippable {
  cursor: pointer;
}
