.container {
  width: auto;
  height: auto;
  overflow: visible;
  position: relative;
}

.card {
  width: 96px;
  height: 136px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.front {
  background-color: white;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background: repeating-radial-gradient(circle, purple, purple 10px, #4b026f 10px, #4b026f 20px);
}

.topLabel,
.bottomLabel {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 4px;
  width: 18px;
  user-select: none;
}

.topLabel {
  align-self: flex-start;
  font-size: 14px;
  line-height: 14px;
}

.bottomLabel {
  align-self: flex-end;
  font-size: 16px;
  line-height: 16px;
  transform: rotate(180deg);
}

.black {
  color: black;
}

.red {
  color: red;
}
